{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twój Barber</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'Style_glowne.css' %}">
    <link rel="stylesheet" type = "text/css" href="{% static 'style/Style_login.css' %}">
    <script>
        function error(){
            document.getElementById('form').style.display='none';
            document.getElementById('error').style.display='block';
        }
        function okerror(){
            document.getElementById('form').style.display='block';
            document.getElementById('error').style.display='none';
        }
    </script>
</head>
<body>
    <div id="banner">
        <img src="{% static 'logo2k.png' %}" class="logo" alt="logo">
        <h1>
            Twój Barber
        </h1>
    </div>
    <div id = "menu">
        <ul>
            <li><a href="{% url 'strona_glowna' %}">Strona główna</a></li>
            <li><a href="{% url 'zaloguj' %}">Zaloguj</a></li>
            <li><a href="{% url 'wyloguj' %}">Wyloguj</a></li>
            <li>link 4</li>
            <li>link 5</li>
            <li>link 6</li>
            <li>link 7</li>
        </ul>
    </div>
    <div id="context">
        <div id="logowanie">
            <div id="error">
                <p>login i/lub hasło zostało złe wpisane</p>
                <input class="butt" type="button" onclick="okerror()" value="Okej">
                <a href=""><p>jesli nie masz konta pierw sie zajerestrój </p></a>
            </div>
            <form id="form" action="{% url 'zaloguj' %}" method="POST">
                {% csrf_token %}
                <label for="login">Login: </label>
                {{ form.login }}<br><br>
                <label for="haslo">Hasło: </label>
                {{ form.haslo }}<br><br>
                <input type="submit" id="submit" class="butt" value="Zaloguj">
                <a href="{% url 'strona_glowna' %}"> <input type="button" id="anuluj" class="butt" onclick="" value="Anuluj"></form></a>
            </form>
        </div>
        {% if error == '1' %}
            <script>
                error();
            </script>
        {% endif %}
    </div>
    <div id="stopka">
        Autor: Dominik Tucholski, Norbert Łukasiewicz
    </div>
</body>
</html>