{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twój Barber</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'Style_glowne.css' %}">
    <link rel="stylesheet" type = "text/css" href="{% static 'style/Style_login.css' %}">
</head>
<body>
    <div id="banner">
        <img src="{% static 'logo2k.png' %}" class="logo" alt="logo">
        <h1>
            Twój Barber
        </h1>
    </div>
    <div id = "menu">
        <ul>
            <li><a href="{% url 'strona_glowna' %}">Strona główna</a></li>
            <li><a href="{% url 'zaloguj' %}">Zaloguj</a></li>
            <li>link 3</li>
            <li>link 4</li>
            <li>link 5</li>
            <li>link 6</li>
            <li>link 7</li>
        </ul>
    </div>
    <div id="context">
        <div id="logowanie">
            <form>
                
            </form>
        </div>
    </div>
    <div id="stopka">
        Autor: Dominik Tucholski, Norbert Łukasiewicz
    </div>
</body>
</html>