{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twój Barber</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'Style_glowne.css' %}">
</head>
<body>
    <div id="banner">
        <img src="{% static 'logo2k.png' %}" class="logo" alt="logo">
        <h1>
            Twój Barber
        </h1>
    </div>
    <div id = "menu">
        <ul>
            <li>link 1</li>
            <li>link 2</li>
            <li>link 3</li>
            <li>link 4</li>
            <li>link 5</li>
            <li>link 6</li>
            <li>link 7</li>
        </ul>
    </div>
    <div id="context">
 
    </div>

        <!-- 
            WYJEBAĆ do PLIKU Z REZERWACJAMI  TU MA BYĆ OGÓLNE INFO 
            <article id = "Tresc">
                <ul>
                   <h1> 
                        <li>Strzyzenie: 65zl             / 30min</li>
                        <li>Strzyzenie od 0: 70zl        / 30min</li>  
                        <li>Strzyzenie dziecka 1-6: 55zl / 30min </li>           
                        <li>Strzyzenie na 0: 45zl        / 30min</li>
                        <li>Farbowanie: 50zl             / 30min</li>
                    </h1>
                </ul>
        </article> -->
    <div id="stopka">
        Autor: Dominik Tucholski, Norbert Łukasiewicz
    </div>
</body>
</html>