{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Twój Barber</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'Style_glowne.css' %}">
</head>
<body>
    <div id="banner">
        <img src="{% static 'logo2k.png' %}" class="logo" alt="logo">
        <h1>
            Twój Barber
        </h1>
    </div>
    <div id = "menu">
        <ul>
            <li><a href="{% url 'strona_glowna' %}">Strona główna</a></li>
            <li><a href="{% url 'zaloguj' %}">Zaloguj</a></li>
            <li><a href="{% url 'wyloguj' %}">Wyloguj</a></li>
            <li><a href="{% url 'rejestr' %}">Rejestracja</a></li>
            <li><a href="{% url 'zarezerwuj' %}">Zarezerwuj termin</a></li>
            <li>link 6</li>
            <li>link 7</li>
        </ul>
    </div>
    <div id="context">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint laudantium ut modi magni libero qui quam nemo saepe possimus. Cum incidunt, obcaecati officiis sit cupiditate soluta voluptates fugiat at porro.
        Delectus voluptate excepturi quae, odit veritatis, impedit molestiae perspiciatis aliquam esse laudantium facere labore tempore deleniti fuga consectetur facilis exercitationem. Velit dolor omnis ullam harum, mollitia dolorem dignissimos temporibus consequatur.
        Optio quod impedit voluptate quidem nisi soluta deleniti dolore. Mollitia quae minima saepe nam. Magnam deserunt illo beatae eaque voluptate optio nisi omnis voluptatem quidem dolorem, reprehenderit perspiciatis, tempore tenetur!
        Quisquam eveniet ex recusandae, quidem, ab dolore asperiores quos aliquam ipsum, beatae doloremque. Quos at soluta, est consequatur beatae obcaecati dolorem nostrum delectus, iusto aspernatur pariatur fuga quia, minima ullam?
        Ducimus recusandae nam cum adipisci consectetur perspiciatis quisquam, amet dolorum molestias a consequuntur fugit hic, ad neque animi mollitia commodi culpa voluptates harum modi soluta, dolorem pariatur dolore voluptate. Facilis!
        <h1>Lokalizacja</h1>
        <img src="{% static 'maps.png' %}" alt="mapa" id="mapy"> 
    </div>
    <div id="stopka">
        Autor: Dominik Tucholski, Norbert Łukasiewicz
    </div>
</body>
</html>