body{
    background-color: darkgrey;
    font-family: 'Arial';
}
#banner{
    width: 100%;
    height: 150px;
}
.logo{
    height: 150px;
    float: left;
}
#banner h1{
    float: left;
}
#menu{
    width: 20%;
    height: 700px;
}
#context{
    width: 80%;
    height: 700px;
}
#stopka{
    width: 100%;
    height: 200px;
    font-style: italic;
}


